# Build Configuration
NODE_ENV=production

# Node Server Configuration
PORT=3000
DOMAIN=localhost

# GCP Application Deployment Configuration
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=europe-north1
APP_SERVICE_NAME=xxx
REPO_NAME=xxx
